<main>
    <div class="credential-container">
        <div class="field-container">
            <label class="username-label" for="username">Username</label>
            <input id="username" class="username" [(ngModel)]="user.username" />
        </div>
        <div class="field-container">
            <label class="password-label" for="password">Password</label>
            <input id="password" class="password" type="password" [(ngModel)]="user.password" />
        </div>
        <div class="btn-container">
            <div class="error-msg">
                {{error}}
            </div>
            <button class="login-btn" (click)="validate()">
                Login
            </button>
        </div>
    </div>
</main>