.credential-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border: 1px solid #0001;
    border-radius: 5px;
    box-shadow: 0 0 20px #0005;
    width: 500px;
    background-color: white;
    backdrop-filter: blur(10px)
}

.username, .password {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0001;
}

.username-label, .password-label {
    padding: 10px 0px;
}

.field-container {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.btn-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-btn {
    cursor: pointer;
    width: fit-content;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #0001;
    border-radius: 4px;
    box-shadow: 0 0 5px #0001;
    transition: all ease 100ms;
    font-weight: 600;
}

.login-btn:hover {
    color: white;
    transform: perspective(5px) scale(1.02);
    background-color: forestgreen;
}

.error-msg {
    color: red
}